* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#login-error {
	clear: both;
	color: #990000;
	padding-top: 10px;
}

body {
	background-size: auto !important;
	transform: translate3d(0, 0, 0);
	background: white url("images/index.jpg") no-repeat;
	height: 100vh;
}

.user {
	width: 95%;
	max-width: 500px;
	margin: 10vh auto;
}

.user-header {
	text-align: center;
	opacity: 0;
	transform: translate3d(0, 400px, 0);
	animation: arrive 500ms ease-in-out 0.7s forwards;
}

.user-title {
	font-size: 35px;
	margin-bottom: -10px;
	font-weight: 500;
	color: black;
}

.form {
	margin-top: 40px;
	border-radius: 6px;
	overflow: hidden;
	opacity: 0;
	transform: translate3d(0, 500px, 0);
	animation: arrive 500ms ease-in-out 0.5s forwards;
}

.form-input {
	display: block;
	width: 100%;
	padding: 20px;
	font-size: medium;
}

.btn {
	display: block;
	width: 100%;
	padding: 20px;
	font-size: 15px;
}
.logo{
	max-width: 40%;
  height: auto;
}
@keyframes arrive {
	0% {
		opacity: 0;
		transform: translate3d(0, 50px, 0);
	}

	100% {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.modal-body {
	padding: 2px 16px;
	height: 50px;
}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}